/** Reset**/

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
} 

a {
    text-decoration: none;
}

/**Inserir configurações globais e que não tem alteração para o site**/

html {
    font-size: 62.5%; /**Igual a 10px**/
}

body {
    font-size: 1.3em;
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
    
}

header {
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor06));
    min-height: 150px;
    text-align: center;
    font-weight: normal;
    padding-top: 40px;
}
nav {
    background-color: var(--cor06);
    padding: 10px;
    color: white;
    text-decoration: none;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.363);

}

main {
    margin: auto;
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
