@charset "utf-8"; /**Para reconhecer acentuação**/

@import url('./base/_colors.css');
@import url('./base/_fonts.css');
@import url('./base/_global.css');

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    font-weight: normal;
    
}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding: 0px 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor04);
    color: var(--cor06);
    border-radius: 10px 0px;
}

main h1 {
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor05);
    font-size: 1.8em;
}
main p {
    text-indent: 30px;
    text-align: justify;
    margin: 15px 0px;
    line-height: 2em;
    font-size: 1em;
}

main h2 {
    background-image: linear-gradient(to right, var(--cor03), transparent);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 10px;
    color: var(--cor05);    
}

main img {
    width: 100%;
} 
main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}
main strong {
    color: var(--cor05);
    font-weight: bold;
    
}
main a {
    color: var(--cor06);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--cor02);
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor04);
}

div.video {
    background-color: var(--cor06);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;


}

aside > h3 {
    background-color: var(--cor04);
    margin: -10px -10px 0px -10px;
    padding: 8px;
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-weight: normal;
    
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside li {
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor02);
}