@charset "utf-8"; /**Para reconhecer acentuação**/

@import url('./base/_colors.css');
@import url('./base/_fonts.css');
@import url('./base/_global.css');

header > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    margin-bottom: 20px;
}
header > p {
    font-family: var(--fonte-padrao);
    color: white;
}